Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Access:
                    type: S3
                    roleName:
                        "Fn::GetOptionSetting":
                            "Namespace": "aws:autoscaling:launchconfiguration"
                            "OptionName": "IamInstanceProfile"
                            "DefaultValue": "aws-elasticbeanstalk-ec2-role"
                    buckets:
                        "Fn::GetOptionSetting":
                            "Namespace": "aws:elasticbeanstalk:application:environment"
                            "OptionName": "OAUTH_KEYS_BUCKET"
                            "DefaultValue":
                                "Fn::Join":
                                    [
                                        "",
                                        [
                                            "${AWS::AccountId}",
                                            "-oauth-keys"
                                        ]
                                    ]

files:
    "/etc/keys/oauth-private.key":
        mode: "000755"
        owner: webapp
        group: webapp
        authentication: S3Access
        source:
            "Fn::GetOptionSetting":
                "Namespace": "aws:elasticbeanstalk:application:environment"
                "OptionName": "OAUTH_KEYS_PRIVATE"
                "DefaultValue":
                    "Fn::Join" :
                        [
                            "",
                            [
                                "https://",
                                {
                                    "Fn::GetOptionSetting":
                                        {
                                            "Namespace": "aws:elasticbeanstalk:application:environment",
                                            "OptionName": "OAUTH_KEYS_BUCKET",
                                            "DefaultValue":
                                                {
                                                    "Fn::Join":
                                                    [
                                                        "",
                                                        [
                                                            {"Ref" : "AWS::AccountId" },
                                                            "-oauth-keys"
                                                        ]
                                                    ]
                                                }
                                        }
                                },
                                ".s3.",
                                { "Ref" : "AWS::Region" },
                                ".amazonaws.com/",
                                { "Ref" : "AWSEBEnvironmentName" },
                                "/oauth-private.key"
                            ]
                        ]
    "/etc/keys/oauth-public.key":
        mode: "000755"
        owner: webapp
        group: webapp
        authentication: S3Access
        source:
            "Fn::GetOptionSetting":
                "Namespace": "aws:elasticbeanstalk:application:environment"
                "OptionName": "OAUTH_KEYS_PUBLIC"
                "DefaultValue":
                    "Fn::Join" :
                        [
                            "",
                            [
                                "https://",
                                {
                                    "Fn::GetOptionSetting":
                                        {
                                            "Namespace": "aws:elasticbeanstalk:application:environment",
                                            "OptionName": "OAUTH_KEYS_BUCKET",
                                            "DefaultValue":
                                                {
                                                    "Fn::Join":
                                                    [
                                                        "",
                                                        [
                                                            {"Ref" : "AWS::AccountId" },
                                                            "-oauth-keys"
                                                        ]
                                                    ]
                                                }
                                        }
                                },
                                ".s3.",
                                { "Ref" : "AWS::Region" },
                                ".amazonaws.com/",
                                { "Ref" : "AWSEBEnvironmentName" },
                                "/oauth-public.key"
                            ]
                        ]
