Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Access:
                    type: S3
                    roleName: '`{"Fn::GetOptionSetting": {"Namespace": "aws:autoscaling:launchconfiguration", "OptionName": "IamInstanceProfile", "DefaultValue": ""}}`'
                    buckets: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "BUCKET_NAME", "DefaultValue": ""}}`'
files:
    "/tmp/.env":
        mode: "000755"
        owner: webapp
        group: webapp
        authentication: S3Access
        source: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "ENV_LOCATION", "DefaultValue": ""}}`'

container_commands:
    file_transfer_1:
        command: "mv /tmp/.env ."
